<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pushu_tech.sumpay">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:name=".BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AdVideoActivity"></activity>
        <activity android:name=".activities.AdSurveyActivity"></activity>
        <activity android:name=".activities.ScanActivity"></activity>
        <activity android:name=".activities.CollectActivity"></activity>
        <activity android:name=".activities.PayActivity"></activity>
        <activity android:name=".activities.BalanceActivity"></activity>
        <activity android:name=".activities.SunCoinActivity"></activity>
        <activity android:name=".activities.CardActivity"></activity>
        <activity android:name=".activities.TransferActivity"></activity>
        <activity android:name=".activities.ShopActivity"></activity>
        <activity android:name=".activities.CouponActivity"></activity>
        <activity android:name=".activities.GiftActivity"></activity>
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity android:name=".activities.SettingsProfileActivity"></activity>
        <activity android:name=".activities.SettingsProfileMoreActivity"></activity>
        <activity android:name=".activities.LoginActivity"></activity>
        <activity android:name=".activities.RegisterActivity"></activity>
    </application>
</manifest>
